{
  "importOrder": [
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/utils/(.*)$",
    "^@/styles/(.*)$",
    "^@/components/(.*)$",
    "^@/common/(.*)$",
    "^@/emails/(.*)$",
    "^@/assets/(.*)$"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
